doctype html
html
    head
        link(rel='stylesheet', href='/css/style.css')
        script(src='//code.jquery.com/jquery-1.11.0.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/index.js')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        title My FSE Chatroom
    body
        ul(class= "pages")
            // li(class = "login page")
                div(class="form")
                    h3(class="title") Login with your name
                    input(class="username", type="text" maxlength="14")
                    button(class = "login btn btn-sm btn-default", type="button") Login
            li(class = "chat page")
                input(class = "leave", type="button", value="Leave")
                div(class = "chatArea")
                    ul(class = "messages")
                    input(class="inputMessage", placeholder="Type here...")
                    input(class = "postbutton", type="button", value="Post")

